/* Variables */

/* Colors */
$primary: #6262ff;
$mid-primary: #7676ff;
$light-primary: #9d9dff;
$dark-primary: #3b3bff;
$light-bg: #ececff;
$green: #5bd75b;
$dark-green: #30c630;
$red: #ff4d4d;
$orange: #ffa851;
$yellow: #ffea00;

/* Font */
$main-fs: 1.5rem;
$md-fs: $main-fs * 1.5;
$lg-fs: $md-fs * 1.5;
$font: "Inria Sans", sans-serif;

/* Spacers */
$spacer-small: 1rem;
$spacer: $spacer-small * 2;
$spacer-md: $spacer * 2;
$spacer-lg: $spacer-md * 2;
$spacer-xlg: $spacer-lg * 2;
