// Home Page Styles
@import "./bank-auth";

.dashboard {
  margin-left: 20%;
  padding: $spacer-md;
  padding-top: $spacer-lg;
}

.user-info {
  margin-bottom: $spacer-lg;

  .disabled-link {
    color: grey;
    border-color: grey;

    &:hover {
      cursor: not-allowed;
      background: transparent;
      color: grey;
    }
  }
}

.user-info__title,
.ba-info__title {
  font-size: $main-fs;
  margin-right: $spacer-small;
}

.user-info__link,
.ba-info__link {
  border: 2px solid $primary;
  border-radius: 25px;
  color: $primary;
  text-decoration: none;
  padding: $spacer-small * 0.35 $spacer;
  font-size: $main-fs * 0.6;
  transition: all 200ms ease-out;

  &:hover {
    background: $primary;
    color: white;
  }
}

.user-info__disclaimer {
  margin-top: $spacer;
  color: #808080;
}
