// Setup
@import "setup/reset";
@import "setup/vars";
@import "setup/mixins";
@import "utils/alignments";

// Standalone
@import "./standalone/auth/auth";
@import "./standalone/navbar/navbar";
@import "./standalone/forms/forms";

// Pages
@import "./pages/home/home";
@import "./pages/bank-accounts/bank-accounts";
@import "./pages/bank-account/bank-account";

.App,
body {
  font-family: $font;
  overflow-x: hidden;
}

button {
  cursor: pointer !important;

  &:hover {
    cursor: pointer !important;
  }
}

.container {
  margin-left: 17.5%;
  padding: $spacer-md;
  padding-top: $spacer-md * 1.25;
}

.top-padding {
  padding-top: $spacer-md;
}

// Loading Spinner
.loading-shadow {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.75);
  z-index: 2000;

  .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }

  .loader:before,
  .loader:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: $primary;
    transform: rotateY(70deg);
    animation-delay: 0.4s;
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: 0.2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 0.2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -0.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -0.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
  }

  p {
    color: white;
    margin-top: $spacer-small;
    font-weight: bold;
    font-size: $main-fs * 0.75;
  }
}

// Not Found Page Styles
.not-found-container,
.unavailable-container {
  &__title {
    font-size: $lg-fs * 2;
    color: $dark-primary;
    text-align: center;

    span {
      color: $light-primary;
    }
  }

  &__message {
    color: #808080;
    text-align: center;
    font-size: $main-fs;
    margin-top: $spacer-small * 1.5;
  }

  &__link {
    width: fit-content;
    display: block;
    text-decoration: none;
    background: $primary;
    color: white;
    padding: $spacer-small * 0.35 $spacer-md;
    border-radius: 25px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: $spacer * 1.25;
    transition: all 200ms ease-out;

    &:hover {
      transform: scale(0.95);
      background: $dark-primary;
    }
  }
}

.unavailable-container__title {
  font-size: $lg-fs;
}
