// Bank Accounts Page Styles
.bank-accounts-container {
  &__title {
    font-size: $main-fs;
    margin-bottom: $spacer;
  }

  &__message {
    color: #808080;
    font-size: $main-fs * 0.75;
  }
}

.bank-accounts {
  display: flex;
  flex-wrap: wrap;

  .bank-account {
    margin-bottom: $spacer;
  }
}
