// Bank Accounts Page Styles
.bank-accounts-container {
  margin-left: 17.5%;
  padding: $spacer-md;
  padding-top: $spacer-md * 1.25;

  &__title {
    font-size: $main-fs;
    margin-bottom: $spacer;
  }
}

.bank-accounts {
  display: flex;
  flex-wrap: wrap;

  .bank-account {
    margin-bottom: $spacer;
  }
}
